onst firebaseConfig = {
  apiKey: "AIzaSyCjuPiEkg6pcWPlJPODH0iOlXPw0dBAFgs",
  authDomain: "perfume-shop-6d381.firebaseapp.com",
  projectId: "perfume-shop-6d381",
  storageBucket: "perfume-shop-6d381.firebasestorage.app",
  messagingSenderId: "583651493147",
  appId: "1:583651493147:web:89817049343b3323d97fbe",
  measurementId: "G-SLE7ZFE5KL"
};
